<!DOCTYPE html>
<html>
<head>
	<title>Postal Rates</title>
</head>
<body>
	<h1>Postal Rates Result</h1>
	<p>The cost of using a "<%= types %>" with the weight of <%= weight %>  is: <%= result %></p>
</body>
</html>