body {
	background-color: lightblue;
}

h1 {
	align-content: center;
	color: navy;
}

h2 {
	align-content: center;
	color: blue;
}

h3 {
	align-content: center;
	color: teal;
}

h4 {
	align-content: center;
	color: green;
}