
div:hover{
	font-weight:bold;
}
#div1{
	color:pink;
	background-color:black;
	font-size:20px;
}
#div2{
	color:blue;
	background-color:green;
	font-size:10px;
}
#div3{
	color:orange;
	background-color:yellow;
	font-size:15px;
}